@import url('http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2.css');
@import url('http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2-bootstrap.css');
@import url('http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css');
@import url('//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css');                                    


.select2 > .select2-choice.ui-select-match {
      /* Because of the inclusion of Bootstrap */
      height: 29px;
    }

    .selectize-control > .selectize-dropdown {
      top: 36px;
    }
    
    
    /*
 .rating-star-active { 
      height: 18px;
      width: 18px;
      //background-size: contain;
      //background-image: url("{!$Resource.OrangeStar}");
    }
 .rating-star-inactive {
      height: 18px;
      width: 18px;
      //background-size: contain;
      //background-image: url("{!$Resource.Whitestar}");
    }
    
*/

.scaleUp1_5{
	transform: scale(1.5,1.5);
	
}


#spidergraphcontainer {
	position: absolute;
    width: 300px;
    height: 300px;
}

.dataEntryForm{
	font-family: avenir,sans,arial,helvetica;
	color: #545454;
	
}

#dataForm {
  transition:0.5s linear all;
  -webkit-transition:all linear 0.5s;
  //background: white;
  
  .ng-pristine{
		 
		  box-shadow: 0 0 5px #e3e3e3;
		  border-color: #e3e3e3;
	  }
	  
	 .ng-dirty{
		
		box-shadow: 0 0 5px #3585ee;
		border-color: #3585ee;
		 
		 &.ng-invalid {
			  box-shadow: 0 0 5px #e7335a;
			  border-color: #e7335a;
			  
			}
		 &.ng-valid{
				
				box-shadow: 0 0 5px #3585ee;
				border-color: #3585ee;
				
			}
		
		
	}  
	
 
	
  
}




.ng-enter, .ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

